.about {
	font-size: 20px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 15px;
}

#ne {
	position: absolute;
	left: 398px;
	top: 150px;
  -webkit-clip-path: polygon(0 250px, 0 405px, 470px 405px, 470px 2px, 370px 2px);
}

#se {
	position: absolute;
	left: 130px;
	top: 470px;
	width: 450px;
  -webkit-clip-path: polygon(2px 170px, 2px 230px, 200px 230px, 300px 260px, 440px 260px, 440px 50px, 400px 50px, 250px 50px, 200px 100px);
}

#mw {
	position: absolute;
	left: 33px;
	top: 78px;
	width: 500px;
  -webkit-clip-path: polygon(2px 2px, 2px 475px, 300px 475px, 370px 440px, 370px 340px, 400px 320px, 400px 2px);
}

#buttons {
	position: absolute;
	left: 1000px;
	top: 70px;
}

.dateButton {
	margin-right: 15px;
	background-color: #E0E0E0;
	border: none;
	width: 40px;
	font-size: 20px;
	cursor: pointer;	
}

.dateButtonActive {
	background-color: yellow;
}

.monthLabel {
	font-size: 20px;
	margin-right: 10px;
}

.monthContainer {
	margin-top: 5px;
}

.monthDiv {
	float: left;
	width: 120px;
}

.yearLabel {
	font-size: 32px;
	margin-right: 20px;
}

.yearContainer {
	margin-top: 15px;
}